# Byte-compiled / compiled Python files
*.pyc
__pycache__/

# Virtual Environment
venv/

# SQLite Database
*.db

# Flask instance folder
instance/

# IDE specific files
.vscode/
.idea/

# Environment variables
.env

